h1
{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
}
.products-row
{
    display: flex;
    gap: 25px;
    justify-content: center;
    margin-top: 35px;
}
#herosection
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#paragraph
{
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

}
#heading
{
    font-size: 30px;
}
#product-category
{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
}
#product-category-image
{
    width: 150px;
    height: 150px;
    border: 3px solid #47bde0;
}

#category-intro
{
    display:flex;
    justify-content: center;
    align-items: center;
   flex-direction: column;
   margin-top: auto;
}
   

#view-all
{
    background-color: #0276FF;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(255, 255, 255, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;  
    
}

#view-all:active {
  background-color: #006AE8;
}

#view-all:hover {
  background-color: #1C84FF;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}



